:root {
  --color-primary: #fa6c22;
  --color-accent: #fefdce;
  --color-space: #0f0b0e;
  --color-stars: #ebd088;
  --color-secondary: #276f3f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: var(--color-space);
  color: var(--color-stars);
  font: 1em/1.3 system-ui;
  margin: 0;
}

a,
button,
input {
  color: currentColor;
}

button,
input {
  appearance: none;
  background: none;
  border: 1px solid currentColor;
  border-radius: 0;
  font-size: 1em;
  padding: 3px 4px;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0 0 1em 0;
}

main {
  padding: 2rem 0;
}

.oldreader {
  font-size: 1rem;
}

.youngreader {
  font-size: 1.5rem;
}

.container {
  margin: 0 auto;
  max-width: 30em;
  padding: 0 .5em;
  width: 100%;
}

.container + .container {
  margin-top: 2em;
}

.pulp {
  color: var(--color-primary);
  display: inline-block;
  font-family: 'Bungee', Impact, cursive;
  font-weight: normal;
  font-size: 1.5em;
  text-shadow: 0 1px var(--color-accent),
    -1px 2px var(--color-accent),
    -2px 3px var(--color-accent),
    -3px 4px var(--color-accent);
  text-transform: uppercase;
  vertical-align: baseline;
}
